


*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color:#FFF;
    position: relative;
    font-family: 'Clash Grotesk', sans-serif;
    
}

.logo{
    position: relative;
     left: 50px;
     top: 15px;
  
     justify-content: space-between;
     margin-bottom: 26px;
     
    gap: 20px;
     font-size: 20px;
    color: #000000;
     font-family: Proxima Nova;
    font-size: 18px;
     font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.jhtext{
    position: absolute;
    font-family: 'Clash Grotesk', sans-serif;
    top:20px;
    padding-left: 15px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar{
    position: absolute;
    display: flex;
    right: 50px;
    top: 30px;
    justify-content: space-between;
    gap: 30px;
}

.blog{
    text-decoration: underline;
    text-decoration-color: #FFBF23;
}
.background{
    width: 100%;
    position: relative;
    top: 30px;
    /* right: 0%; */
    
}

.decorate{
    position: absolute;
    top: 198px;
    left: 120px;
}

.decorate h3{
    color: #000;
font-family: Clash Grotesk;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.read{
  margin-top: 50px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 8px;
  background-color: #FFBF23;
  border: none;
}

.Featured{
    margin-top: 100px;
    margin-left: 50px;
    color: #000;
    font-family: Clash Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar2{
    margin-left: 50px;
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.all{
    background-color: #FFBF23;
    border: none;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
}

.all2{
    background-color: transparent;
    border: none;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
}

.article{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 56px;
    /* padding-left: 0%; */
    margin-left: 50px;
}

.article2{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 56px;
    /* padding-left: 0%; */
    margin-left: 50px;
}



.n27{
    color: #495057;
    font-family: Proxima Nova;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.arthead{
    color: black;
    font-family: Clash Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.background2{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    text-align: center;
    margin-top: 104px;
    margin-bottom: 104px;
}

.beautifulhome{
    position: absolute;
    color: #FFF;
    text-align: center;
    padding-left: 198px;
    font-family: Clash Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.eyebackground{
   position: relative;
   align-items: center;
    
}

.eye{
   margin-bottom: 24px; 
   margin-left: 50px;
   
}

.shortss{
    position: absolute;
    left: 500px;
    color: black;
    font-family: Clash Grotesk;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cardread{
    margin-top: 180px;
    margin-left: 50px;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cardreads1{
    position: relative;
}

.cardtext1{
    position: absolute;
    top: 10px;
    color: #FFF;
    padding: 74px 24px;
}

.cardreads2{
    position: relative;
}

.cardtext2{
    position: absolute;
    top: 10px;
    color: #FFF;
    padding: 74px 24px;
}

.cardreads3{
    position: relative;
}

.cardtext3{
    position: absolute;
    top: 10px;
    color: #FFF;
    padding: 74px 24px;
}

.footercontainer{
    margin-top: 60px;
    position: relative;
    background-color: #000;
    color: #FFF;
    margin-left: 50px;
    height: 115px;
}

.footerlogo{
    position: absolute;
    left: 105px;
    bottom: 20px;
}

.jhomes2{
   position: absolute;
   top:27px;
   padding-left: 15px;
   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.copyright{
    position: absolute;
    right: 80px;
    bottom: 25px;
    font-size: 21px;
    align-content: end;
    text-align: end;
}

.social{
    margin-top: 20px;
}